.editor_holder {
    z-index: 2;
    display: none;
    width: 100%;
    height: 100%; 
    background: none repeat scroll 0 0 rgba(185, 185, 185, 0.5);
    position: fixed;
    padding: 3px;
    top: 0; 
}
.editor {
    position: static;
    padding-bottom: 8px;
    width: 100%;
    margin: 3px 0px;
}
.wnd_top {
    text-align: center;
    padding: .5rem!important;
}
.wnd_content {
    padding: 0 8px;
}
.btn_x {
    float: right;
    margin: -.2rem!important;
    font-weight: bold;
    padding: .25rem .7rem;
}
#inputGroupFileAddon02 {
    cursor: pointer;
}

/* *** MEDIA *** */
@media (min-width: 640px) {
    .editor {
        margin: 40px auto auto auto;
        width: fit-content;
    }
    #idscr {
        min-width: 400px; min-height: 180px;
    }
    .btn_x {
        font-size: 1.2rem;
        padding: 0 .5rem .15rem .5rem;
    }
}