body {
    margin: 0;
}
img {
    display: block;
}
h5 {
    margin-bottom: 0 !important;
}
.w100 {
    width: 100%;
}
.wrap {
    display: grid;
    max-width: 1300px;
    box-shadow: 0 0 5px 0;
    grid-template-areas:
        "header"
        "menu"
        "content"
        "footer";
}
.header {
    grid-area: header;
}
.footer {
    grid-area: footer;
    border: none !important;
}
.content {
    grid-area: content;
}
.manage {
    width: 100%;
    padding: .4rem;
    box-shadow: 0 3px 3px -2px #aaa;
    border-bottom: 1px solid #aaa;
    display: grid;
    grid-template-columns: 90px auto;
    grid-column-gap: 15px;
}
.sorting {
    padding: .4rem .4rem 0;
}
/* *** MAIN MENU *** */
.main_menu {
    grid-area: menu;
    background-color: rgba(1, 1, 128, 0.1);
    padding: 3px;
}
.main_menu a {
    width: 100%!important;
    border: none;
    border-bottom: 1px solid grey;
}
.main_menu div:first-child {
    text-align: center;
}
/* *** ITEMS LIST *** */
.items_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: .4rem;
    padding: .4rem;
}
.item {
    cursor: pointer;
}
.item:hover {
    box-shadow: 0 0 3px 0 #aaa;
}
.item div {
    width: 100%;
    text-align: center;
    color: black;
}
.item_image {
    /* max-width: 180px; */
}
/* *** ITEM *** */
.item_m {
    display: grid;
    padding: .4rem;
    grid-row-gap: .4rem;
}
.item_img {
    max-width: 100%;
}
.item_img img {
    border-radius: calc(.25rem - 1px)!important;
}
.item_c {
    padding: 0 .4rem .4rem .4rem;
}

/* *** MEDIA *** */
@media (min-width: 640px) {
    .wrap {
        margin: 0 auto;
        grid-template-columns: 160px auto;
        grid-template-areas:
        "header header"
        "menu content"
        "footer footer";
    }
    .item_m {
        grid-template-columns: minmax(240px, 400px) minmax(240px, auto);
        grid-column-gap: .4rem;
    }
}
@media(max-width: 400px) {
    .items_container {
        margin: 0 auto;
        max-width: 300px;
    }
    .item img {
        max-width: 260px;
    }
}